#talk-to-us {
  font-family: var(--main-font);
}
#talk-to-us h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
}
#talk-to-us h4 {
  text-align: center;
}
#talk-to-us .centralizer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#talk-to-us form {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 4fr;
  column-gap: 8%;
  grid-template-areas:
    'name phone'
    'email email'
    'message message'
    '. button';
  max-width: 100%;
  width: 60%;
  flex-wrap: wrap;
}
.form-fild {
  resize: both;
  outline: none;
  font-size: 15px;
  padding: 10px;
  background: white;
  display: flex;
  max-width: 100%;
  margin-top: 40px;
  border: none;
  font-family: var(--main-font);
}

[data-name] {
  grid-area: name;
}
[data-phone] {
  grid-area: phone;
}
[data-email] {
  grid-area: email;
}
[data-message] {
  grid-area: message;
  resize: none;
  height: 100px;
}
[data-form-button] {
  grid-area: button;
  margin-top: 40px;
  font-size: 17px;
  text-transform: uppercase;
  max-width: 162px;
  background: var(--green-color);
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 50px;
  justify-self: flex-end;
  outline: none;
  cursor: pointer;
}

/* .contact */
.contact {
  max-width: 40%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contact p {
  display: flex;
}
.contact p img {
  margin-right: 10px;
}
.contact > .social-media {
  max-width: 150px;
}

/* Responsive */
@media (max-width: 470px) {
  #talk-to-us form {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    grid-template-areas:
      'name'
      'phone'
      'email'
      'message'
      'button';
    width: 100%;
  }
  .contact {
    padding: 40px 0;
    font-size: 12px !important;
  }
}

@media (max-width: 1020px) {
  #talk-to-us form {
    width: 100%;
  }
  .contact {
    max-width: 100%;
  }
}
