.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media svg {
  margin: 6px;
  border-radius: 100%;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.3s;
}
.social-media svg:hover {
  transform: scale(1.5);
}
.social-media svg path {
  background-color: white;
}

/* Pages Colors */

.icon-color-home:hover {
  background: var(--green-color);
}
.icon-color-branding:hover {
  background: var(--branding-color);
}
.icon-color-e-commerce:hover {
  background: var(--e-commerce-color);
}
.icon-color-marketing:hover {
  background: var(--marketing-color);
}
.icon-color-social-media:hover {
  background: var(--social-media-color);
}
.icon-color-sites:hover {
  background: var(--sites-color);
}
.icon-color-design:hover {
  background: var(--design-color);
}
.icon-color-editoracao:hover {
  background: var(--editoracao-color);
}
.icon-color-foto:hover {
  background: var(--foto-color);
}
